:root {
    --backgroundColour: #534e4e;
    --fontColour: white;

    --theme-100: "#4641d1"
}

body {
    background-color: var(--backgroundColour);
    color:var(--fontColour);
}

/* 
Example JS:

body.style.backgroundColor = "blue";

document.style.somevariable = "blue";

*/